<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>HOME PAGE</title>
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/silk-road.mini.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="logo">SILKROAD</div>
            <div class="nav">
                <div class="top-nav">
                    <div class="home">
                        <div> <a href="./home-page.html" class="active">Home</a> </div>
                        <div>Our Property</div>
                    </div>
                    <div class="auth">
                        <div class="aut1 aut1-logged">John Wayne</div>
                        <hr class="aut-m">
                        <div class="aut1">Logout</div>
                    </div>
                </div>
                <hr class="divider">
                <div class="bottom-nav">
                    <div></div>
                    <div class="prty-btn"><button>Post a Property</button></div>
                </div>
            </div>
        </div>
        <div class="main">
            <div> Real estate without the hassel</div>
            <div><input type="text" class="property" placeholder="FIND A PROPERTY"></div>
            <div class="filter"><strong>\/ FILTER</strong></div>
        </div>
        <div class="bottom-content">
            <div>OUR LATEST POSTINGS</div>
            <div>\/</div>
        </div>
    </div>
</body>

</html>