<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>LOGIN PAGE</title>
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <style>
        @import url("../css/silk-road.mini.css");
    </style>
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="logo">SILKROAD</div>
            <div class="nav">
                <div class="top-nav">
                    <div class="home">
                        <div> <a href="./home-page.html">Home</a> </div>
                        <div><a href="./property-grid.html"> Our Property</a></div>
                    </div>
                    <div class="auth">
                        <div class="aut1" class="active"> <a href="./login.html">Login</a></div>
                        <hr class="aut-m">
                        <div class="aut1"><a href="./register.html">Register</a></div>
                    </div>
                </div>
                <hr class="divider">
                <div class="bottom-nav">
                    <div class="bottom-l">
                        <div> <a href="./login.html">HOME </a> <span>&nbsp; ></span></div>

                        <div>LOGIN</div>
                    </div>
                    <div class="prty-btn"><button>Post a Property</button></div>
                </div>
            </div>
        </div>
        <div class="login-container">
            <div class="main-login">
                <div class="content">
                    <h4>Don't have an account?</h4>
                    <p>If you don't have an account you can create one now to get the view of all the available properties in stock.
                    </p>
                    <button><a href="./register.html">Register</a> </button>
                </div>
                <div></div>
            </div>
        </div>
        <div>
            <!-- Login Form -->
            <form action="">
                <div class="login-form">
                    <div class="heading">
                        <h2>LOGIN</h2>
                    </div>
                    <div class="log-input">
                        <div class="input1">
                            <select name="c-code" id="">
                                <option value="+231">+231</option>
                                <option value="+234">+234</option>
                                <option value="+134">+134</option>
                                <option value="+412">+412</option>
                            </select> <input type="text" placeholder="Phone number"></div>
                        <div class="input2"><input type="text" placeholder="Password"></div>
                        <div class="forget-password"><strong>Forgot password?</strong></div>
                        <div class="btn"><button>Login</button></div>
                    </div>
                    <div class="log-option">
                        <div>Log in with FB TW</div>
                    </div>
                </div>
                <div></div>
            </form>
        </div>
    </div>
</body>

</html>