<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property List</title>
    <link rel="stylesheet" href="../css/mini.ecommerce.css">
</head>

<body>

    <!-- Header -->
    <div class="header">
        <div class="logo">
            SILKROAD
        </div>
        <div class="nav-bar">
            <div class="top-nav">
                <div class="top-nav-left">
                    <ul>
                        <li>Home</li>
                        <li>Our Properties</li>
                    </ul>
                </div>
                <div class="top-nav-right">
                    <ul>
                        <li>Login</li>|
                        <li>Register</li>
                    </ul>
                </div>
            </div>
            <div class="bottom-nav">
                <div class="bottom-nav-left">
                    <ul>
                        <li>HOME</li>>
                        <li>Houses</li>
                    </ul>
                </div>
                <div class="bottom-nav-right">
                    <ul>
                        <li>Post a Property</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</body>

</html>